.account-container h1, .account-container h2 {
    font-weight: 100;
}
.account-container .form {
    padding: 20px;
    margin: 0 auto;
    background-color: var(--baseThemeEvenDarker);
    border: solid var(--accentTheme) 2px;
    margin-top: 10px;
    text-align: center;
    color: white;
}
.formFloat {
    border: solid 1px black;
    padding: 0 50px;
    min-height: 150px;
    margin: 0 auto;
    --aug-inlay-bg: var(--baseThemeDarker);
    --aug-border-all: 1px;
    --aug-border-bg: rgba(0,0,0,0);
    filter: drop-shadow(0px 0px 10px black);
}
.fileForm {
    width: min-content;
    margin: 0 auto;
    margin-top: -15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fileInput {
    display: none;
}
.label {
    margin-bottom: 7px;
    padding: 10px;
    padding-bottom: 13px;
    inline-size: max-content;
    padding-right: 1000%;
    padding-left: 1000%;
    background: var(--accentThemeEvenDarker);
    box-shadow: 0px 0px 6px 0px black;
    font-family: 'Comp';
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.label:hover {
    color: black;
    background-color: var(--accentTheme);
    transform: scale(1.01);
    box-shadow: 0px 0px 12px 0px black;
}
.submit {
    background-color: var(--accentThemeEvenDarker);
    border: solid var(--baseThemeDarker) 1px;
    padding: 10px;
    box-shadow: 0px 0px 6px 0px black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.submit:hover {
    background-color: var(--accentTheme);
    transform: scale(1.1);
    box-shadow: 0px 0px 12px 0px black;
}
.usage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/public/tri.webp');
    background-size: contain;
}
.settings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.usage, .settings {
    margin: 50px;
    padding: 20px;
    background-color: var(--baseThemeDarker);
    font-family: "Comp";
    color: white;
    border: solid var(--accentTheme) 1px;
}
.usage button, .settings button {
    margin: 10px;
    background-color: var(--accentThemeDarker);
    border: var(--baseTheme) solid 2px;
    padding: 5px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.usage .deleteConfirm, .settings .deleteConfirm {
    background-color: var(--accentTheme);
}
.usage input[type=password], .settings input[type=password] {
    padding: 20px;
    background-color: var(--accentTheme);
    margin: 10px;
    border: solid black 2px;
    font-family: "Comp";
    color: var(--accentTheme);
}

.password:hover, .delete:hover {
    background-color: var(--accentTheme);
}
.password:active, .delete:active {
    background-color: var(--alert);
}

.fileContainer {
    display: grid;
    gap: 15px;
    align-items: center;
    background-color: var(--baseTheme);
    margin: 15px 50px 0;
    padding: 5px;
    border: solid var(--accentThemeDarker) 2px;
}

.fileContainerTitle {
    grid-column: span 5;
}

.quick-star, .quick-download, .quick-delete, .quick-share, .quick-private {
    cursor: pointer;
    aspect-ratio: 1/1;
    box-shadow: 0 0 2px 0px black;
    padding: 3px;
    transition: 0.1s ease;
}

.quick-star {
    background: var(--darkerTeal); 
    grid-row: 2;
}
.quick-star:hover {
    background: var(--evenDarkerTeal); 
}

.quick-download {
    background: var(--darkerBlue);
    grid-row: 2;
}
.quick-download:hover {
    background: var(--evenDarkerBlue); 
}

.quick-share {
    background: var(--10purple);
    grid-row: 2;
}
.quick-share:hover {
    background: var(--60); 
}

.quick-delete {
    background: var(--fsLarge);
    grid-row: 2;
}
.quick-delete:hover {
    background: var(--fsVeryLarge); 
}

.quick-private {
    background: var(--accentRed);
    grid-row: 1;
    grid-column: 4;
}
.quick-private:hover {
    background: var(--accent); 
}


@media screen and (max-width: 600px) {
    .account-flex-container {
        flex-direction: column;
    }
    .fileContainer {
        grid-template-columns: 33% 34% 33%;
    }
    .fileContainerTitle {
        grid-column: span 3;
    }
}